.blogRunner {background:#eee;}
.blogRunner {padding:2em;}
.blogRunner, .blogRunner figure {display:flex;}
.blogRunner, .blogRunner figure {flex-direction:column;}
.blogRunner, .blogRunner figure {justify-content:center;}
.blogRunner figure {align-items: center;}
.blogRunner {width:65%;}
.blogRunner {height:100%;}

.blogRunner > h1, h2 {margin:0 0 1em 0}
.blogRunner h4 {margin-bottom:1em}
.blogRunner h3 {margin-bottom:0.5em;}
.blogRunner ul {list-style-type: square;}

@media only screen and (max-width: 768px) { .blogRunner {width:90%;}}
@media only screen and (min-width: 983px) { .blogRunner {width:70%;}}
