.blogMenu {display:flex;}
.blogMenu {justify-content:center;}
.blogMenu {align-items:center;}
.blogMenu {width:100%;}
.blogMenu {margin:0;}
.blogMenu li {display:flex;}
.blogMenu li {margin-right:1em;}
