.containerBlog {background:#fff;}
.containerBlog {margin:0 auto;}
.containerBlog {padding:0.8em;}
.containerBlog {display:flex;}
.containerBlog {justify-content:center;}


@media only screen and (min-width: 1024px){.containerBlog {width:1024px;}}
