.contact,
.contact li {display:flex;}
.contact {flex-direction:column;}
.contact {justify-content: space-between;}
.contact li {flex-direction:row;}
.contact li {justify-content:flex-start;}
.contact li {align-items:center;}
.contact {max-height:155px;}
.contact {margin:0 0 0 0;}
.contact li {margin-bottom:0.5em;}
.contact li img {margin:0 0.5em 0 0;}
.contact {padding:0;}

@media only screen and (max-width: 769px)
{
  .contact {display:flex;}
  .contact {width:auto;}
  .contact {flex-wrap: wrap;}
  .contact {flex-direction: column;}
  .contact {justify-content: space-between;}
  .contact {margin:0;}
}

@media only screen and (max-width: 320px)
{
  .contact {display:flex;}
  .contact {width:100%;}
  .contact {flex-direction: column;}

}
