@media only screen and (min-width:460px) and (max-width: 768px){
  .contactContainer {display:flex;}
  .contactContainer {flex-wrap: wrap;}
  .contactContainer {justify-content: space-between;}
  .contactContainer {width:80%;}
  .contactContainer {margin:0 auto;}
  .contactContainer {margin-top:1em;}
}

@media only screen and (min-width:360px) and (max-width: 459px){
  .contactContainer {margin:1em 0;}
}
