.containerProject {display:grid;}
.containerProject {height:100%;}
.containerProject {margin:0 auto;}

.containerProject {padding:1em 0;}

@media only screen and (min-width: 1024px) {
  .containerProject {width:85%;}
  .containerProject {grid-template-columns:30% 70%;}
  .containerProject {grid-column-gap:1em;}
}

@media only screen and (max-width: 1023px) {
  .containerProject {grid-template-columns:1fr;}
  .containerProject {grid-template-rows:auto auto;}
  .containerProject {grid-row-gap:3em;}
  .containerProject {padding:0 1em;}
}

.containerProject ul {list-style-type:none;}

@media only screen and (max-width: 360px) {.containerProject {width:100%;}}
@media only screen and (min-width: 1341px) {.containerProject {width:70%;}}
@media only screen and (min-width: 2000px) {.containerProject {width:50%;}}
@media only screen and (min-width: 3000px) {.containerProject {width:40%;}}
