.containerHome {padding:0.8em;}
.containerHome {display:flex;}
.containerHome {flex-wrap: wrap;}
.containerHome {justify-content: space-between;}

.containerHome > img, a, h1, h3, h4, h5, h6, li {margin:0;padding:0;}

.containerHome {height:auto;}

.containerHome ul {list-style-type: none;}

@media only screen and (max-width: 768px){.containerHome {width:100%;}}

@media only screen and (min-width: 769px){.containerHome {margin:0 auto;}}

@media only screen and (min-width: 1024px){.containerHome {width:1024px;}}
