.detail {display:flex;}
.detail {flex-direction:column;}
.detail {width:70%;}
/*.detail {padding:0.5em;}*/
.detail {margin:0 0 1em 0;}

@media only screen and (max-width: 768px){ .detail {width:100%;} }
