.experience {display:flex;}
.experience {flex-direction:column;}
.experience {align-items: center;}
.experience {margin-bottom:0.5em;}


@media only screen and (min-width: 1225px) {
  .experience {width:90%;}
}

@media only screen and (max-width: 1224px) {
  .experience  {width:80%;}
  .experience {align-items: flex-start;}
}
