.features li {background:#eee;}
.features,
.features li {display:flex;}
.features li {flex-wrap:wrap;}
.features {flex-direction:row;}
.features {width:100%;}
.features li {align-items: center;}
.features {justify-content: center;}
.features li {text-align: center;}
.features {margin:0;}
.features {padding:0;}
.features li {margin:0.2em;}
.features li h5 {margin:0.3em;}

@media only screen and (max-width: 983px) {
  .features {flex-wrap:wrap;}
}
