
.menu {display:flex;}
.menu {justify-content:flex-start;}
.menu {align-items:center;}
.menu {margin:0;}
.menu li {display:flex;}
.menu li {margin-right:1em;}
.menu img {height:64px;}
.menu img {width:64px;}

/* FOR ANIMATIONS */


/* *************** */
