.notice {display:flex;}
.notice {flex-direction: column;}
.notice {justify-content:flex-start;}
.notice {flex-grow: 1;}
.notice {margin:1em 0;}
.notice h2 {margin-bottom:0.3em;}
.notice li {margin:1em 0;}
.notice {min-width:300px;}
.notice {max-width: 400px;}


@media only screen and (max-width: 768px)
{
  .notice {width:100%;}
  .notice {margin:1em 0;}

}
