.projectlinks {width:100%;}
.projectlinks {display:flex;}
.projectlinks {flex-wrap:wrap;}
.projectlinks {flex-direction:row;}
.projectlinks {margin:0;}
.projectlinks {padding:0;}
.projectlinks li {margin-right:1em;}
