.resume {background:#fff;}

.resume {display:flex;}
.resume {flex-wrap: wrap;}

.resume {justify-content:flex-start;}
.resume {align-items:center;}
.resume {flex-direction:column;}
.resume {text-align:center;}

.resume,
.resume img {border-radius:12px;}
.resume img {margin:1em 0;}
.resume {margin:1em 0;}

.resume {-webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.48);}
.resume {-moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.48);}
.resume {box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.48);}

@media only screen and (min-width: 1024px) {
  .resume {top:0.8em;}
  .resume {max-height:;}
  .resume {min-height:;}
  .resume {max-width:290px;}
  .resume {position:fixed;}
}

@media only screen and (max-width: 1024px) {
  .resume {min-width:275px;}
}
@media only screen and (max-width: 360px) {
  .resume {width:100%;}

  .resume img {height:130px;width:130px;}
}
