.runner {padding-top:1em;}
.runner {background:#fff;}
.runner {display:flex;}
.runner {flex-direction:column;}
.runner {justify-content:space-between;}

@media only screen and (min-width: 1024px) {.runner {grid-column:2 / 3/;}}
