.sidebar {min-height:700px;}
.sidebar {background:#fff;}
.sidebar, .runner {display:flex;}
.sidebar, .runner {flex-direction:column;}
.sidebar {justify-content:;}
.sidebar {align-items:center;}

@media only screen and (min-width: 1024px) {
  .sidebar {grid-column:1 / 2;}
}

@media only screen and (max-width: 360px) {.sidebar {width:100%;}}
