.summary {display:flex;}
.summary {flex-direction: column;}
.summary {justify-content: center;}
.summary span {background:#F8F8F8;}
.summary span {color:grey/*#5FA5E7*/;}
.summary span {margin:0.2em;}
.summary span {padding:0.1em 0.5em;}
.summary span {border-radius:3px;}
