.summaryTools {width:100%;}
.summaryTools, .summaryTools ul {display:flex;}
.summaryTools ul {flex-wrap: wrap;}
.summaryTools, .summaryTools ul {align-items: center;}

.summaryTools {justify-content: flex-start;}

.summaryTools ul {margin:0;}
.summaryTools {margin:0.5em 0 0 0;}

.summaryTools li {background:#F8F8F8;}
.summaryTools li {color:grey/*#5FA5E7*/;}
.summaryTools li {margin:0.2em;}
.summaryTools li {padding:0.414em;}
.summaryTools li {border-radius:3px;}
