.tools li {background:#eee;}

.tools {display:flex;}
.tools {flex-wrap:wrap;}
.tools {justify-content:center;}


.tools {align-items: center;}
.tools li h5 {text-align: left;}

.tools {margin:0;}
.tools {margin-bottom:0.5em;}
.tools li {margin:0.2em;}
.tools li h5 {margin:0.3em;}

@media only screen and (min-width: 983px) {
  .tools {width:100%;}
  .tools {align-items: flex-start;}
}

@media only screen and (max-width: 983px) {
  .tools {align-items:center;}
  .tools {width:55%;}
}
